.kasa-card {
    margin: 50px 50px;
}

.kasa-slider {
    padding-bottom: 10px;
}

.kasa-card-collapse {
    display: flex;
    justify-content: space-between;
    height: 200px;
}


@media screen and (min-width: 781px) and (max-width: 1027px){
    
}

@media screen and (min-width: 550px) and (max-width: 780px){
    
}

@media screen and (max-width: 549px) {
    
}