.kasa-displayCardsSection {
    margin: 30px 50px;
    background-color: #F6F6F6;
    border-radius: 25px;
}

.kasa-displayCardsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding:none;
}

.kasa-cardsInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 35px 30px 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.kasa-coverImg {
    width: 360px;
    height: 360px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}

.kasa-cardsInfo p {
    color:blueviolet;
}

@media screen and (min-width: 781px) and (max-width: 1027px){
    
}

@media screen and (min-width: 550px) and (max-width: 780px){
    
}

@media screen and (max-width: 549px) {
    
}