.kasa-host{
    display: flex;
    justify-content: space-between;
    color: #FF6060;
    margin-top: 30px;
}

.kasa-location-title {
    font-size: 40px;
}

.kasa-location-logement {
    font-size: 20px;
}

.kasa-details img {
    border-radius: 50%;
    width: 40%;
}

.kasa-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.kasa-details span {
    font-size: 25px;
    width: 60px;
    display: block;
}

.kasa-tag p {
    color: white;
    background-color: #FF6060;
    border-radius: 10px;
    margin-right: 10px;
    padding: 5px 10px;
}

.kasa-tag {
    display: flex;
}

@media screen and (min-width: 781px) and (max-width: 1027px){
    .kasa-location-title {
        font-size: 35px;
    }
    
    .kasa-location-logement {
        font-size: 17px;
    }
    
    .kasa-details img {
        border-radius: 50%;
        width: 30%;
    }

    .kasa-details span {
        font-size: 20px;
        width: 57px;
        display: block;
    }

    .kasa-tag p {
        padding: 5px;
        font-size: small;
    }

    .kasa-stars img {
        margin-top: 20px;
    }
}

@media screen and (min-width: 550px) and (max-width: 780px){
    .kasa-location-title {
        font-size: 33px;
    }
    
    .kasa-location-logement {
        font-size: 15px;
    }
    
    .kasa-details img {
        border-radius: 50%;
        width: 33%;
    }

    .kasa-details span {
        font-size: 25px;
        width: 55px;
        display: block;
    }

    .kasa-tag p {
        padding: 5px;
        font-size: smaller;
    }

    .kasa-stars img {
        margin-top: 20px;
        width: 18%;
    }
}

@media screen and (max-width: 549px) {
    .kasa-location-title {
        font-size: 20px;
    }
    
    .kasa-location-logement {
        font-size: 15px;
    }
    
    .kasa-details {
        align-items: center;
        justify-content: flex-end;
    }

    .kasa-details img {
        border-radius: 50%;
        width: 30%;
        margin-left: 10px;
    }

    .kasa-details span {
        font-size: 15px;
        display: block;
        text-align: right;
    }

    .kasa-locationTag {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .kasa-pictureStars {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }

    .kasa-host {
        flex-direction: column;
        align-items: stretch;
    }

    .kasa-tag p {
        padding: 5px;
        font-size: smaller;
    }

    .kasa-stars img {
        margin-top: 20px;
        width: 18%;
    }
}